

:root {
  --base-font-size: 16px;
  font-size: var(--base-font-size);
  font-family: Arial, Helvetica, sans-serif;
}

.clickable:hover{
  cursor: pointer;
}

.hoverable:hover, .button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.horizontallyCenter{
  left: 50%;
  transform: translateX(-50%);
}

.maxWidth {
  width: 100%
}