

:root {
  --base-font-size: 16px;
  font-size: var(--base-font-size);
  font-family: Arial, Helvetica, sans-serif;
}

.clickable:hover{
  cursor: pointer;
}

.hoverable:hover, .button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.modal {
  padding: 1rem;
  background-color: #fefefe;
  margin: 5% auto 40% auto;
  border: 1px solid #888;
  border-radius: 5px;
  position: fixed;
  max-height: 75vh;
  overflow: auto;
  z-index: 1000;
}
